/**
 * main.css
 */
body {
    color: #d4d4d4;
    padding-top: 85px;
}

.hidden {
    display: none;
}

a:hover {
    color: #17B38B;
}

div#create-mode-defaults-form {
    display: none;
}
.debug {
    color: #a5a5a5;
    font-size: 11px;
    white-space: pre;
    font-family: monospace, "Monospace Sans";
    background-color: #464545;
    padding: 0.6em 1em;
    border-radius: 4px;
}
.is-ready {

}
.is-ready > i.fa {
    color: inherit;
    font-size: 1.3em;
    line-height: 1em;
}
.is-ready.not-ready {
    color: red !important;
}
.is-ready.ready {
    color: green !important;
}
.space-before {
    margin-top: 16px;
}
.space-after {
    margin-bottom: 16px;
}
