/**
 * nodes.css (circles and gnode)
 */
g.gnode {
    cursor: grab;
    cursor: -webkit-grab;
    cursor:-moz-grab;
}

.dragged {
    pointer-events: none;
}

circle.node {
    fill: #1E1F24; /* black */
    stroke: #6D7075; /* light black */
    stroke-width: 2px;
}

/** node colors **/
circle.node.red {
    fill: #FF756E;
    stroke: #E06760;
}
circle.node.violet {
    fill: #DE9BF9;
    stroke: #BF85D6;
}
circle.node.green {
    fill: #6DCE9E;
    stroke: #6DCE9E;
}
circle.node.yellow {
    fill: #FFD86E;
}
circle.node.blue {
    fill: #68BDF6;
    stroke: #5CA8DB;
}

circle.ring {
    fill: transparent;
    stroke: transparent;
    stroke-width: 4px;
}

text.label {
    fill: #fff;
    font-size: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    baseline-shift: -3px;
    text-anchor: start;
}

/* Actions, modifications and overridings */
g.gnode.selected > circle.ring {
    stroke: #F7E0A8;
}
g.gnode.fixed > circle.node {
    stroke: #fff !important;
}
g.gnode.cell, g.gnode.cell > circle.node, g.gnode.cell > text.label {
    cursor: cell !important;
}
